<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<footer class="footer">
  <div class="left">
    <div class="language-selector">
      <button id="language-toggle">English ▼</button>
      <ul id="language-list" class="hidden">
        <li><a>Español</a></li>
        <li><a>Inglés</a></li>
      </ul>
    </div>
  </div>
  <div class="center">
    © 2024 Brand, Inc. • <a>Privacy</a> • <a>Terms</a> • <a>Sitemap</a>
  </div>
  <div class="right">
    <a class="social-icon facebook-icon"><i class="fab fa-facebook"></i></a>
    <a class="social-icon twitter-icon"><i class="fab fa-twitter"></i></a>
    <a class="social-icon linkedin-icon"><i class="fab fa-linkedin"></i></a>
    <a class="social-icon youtube-icon"><i class="fab fa-youtube"></i></a>
  </div>
</footer>
