<div class="header">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo de la empresa">
  </div>
  <nav>
    <ul>
      <li><button routerLink="/home" routerLinkActive="active">Home</button></li>
      <li><button routerLink="/about" routerLinkActive="active">About</button></li>
      <li><button class="Cars" routerLink="/cars" routerLinkActive="active">Cars</button></li>
      <li><button routerLink="/reviews" routerLinkActive="active">Reviews</button></li>
      <li><button class="Login" routerLink="/login" routerLinkActive="active">Log in</button></li>
      <li><button class="Singup" routerLink="/singup" routerLinkActive="active">Sign up</button></li>
    </ul>
  </nav>
  <div class="a">
  </div>
</div>
