<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<form [formGroup]="filterForm" (ngSubmit)="buscarConFiltros()">

<!--  //EMPRESA FABRICADORA-->
  <label for="empresa">Empresa Fabricadora:</label>
  <select formControlName="empresa" id="empresa">
    <option *ngFor="let option of empresaOptions" [value]="option">{{ option === '' ? 'Any' : option }}</option>
  </select>

<!--  //MODELO DE VEHICULO-->
  <label for="modelo">Modelo:</label>
  <select formControlName="modelo" id="modelo">
    <option *ngFor="let option of modeloOptions" [value]="option">{{ option === '' ? 'Any' : option }}</option>
  </select>

<!--  //TIPO DE VEHICULO-->
  <label for="tipo_vehiculo">Tipo Vehiculo:</label>
  <select formControlName="tipo_vehiculo" id="tipo_vehiculo">
    <option *ngFor="let option of tipovehiculoOptions" [value]="option">{{ option === '' ? 'Any' : option }}</option>
  </select>


<!--//AÑO DE MODEO DE VEHICULO-->
  <label for="anofabricacion">Año Modelo:</label>
  <input type="number" formControlName="anofabricacion" id="anofabricacion" style="width: 80px;">



<!--//AUTONOMIA DE VEHICULO-->
  <label for="autonomiavehiculo">Autonomía de vehículo: </label>
  <input type="number" formControlName="autonomiavehiculo" id="autonomiavehiculo" style="width: 80px;">

<!--&lt;!&ndash;  //DESCUENTO&ndash;&gt;-->
<!--  <label for="descuento">Descuento:</label>-->
<!--  <input type="number" formControlName="descuento" id="descuento">-->

<!--  //PRECIO FINAL-->
  <label for="preciofinal">Precio de Vehiculo:</label>
  <input type="number" formControlName="preciofinal" id="preciofinal" style="width: 80px;">





  <button type="submit" class="custom-button">Filter</button>

  <div class="cars-container">
    <div class="laptop-card" *ngFor="let cars of paginatedcars">
      <h2>{{ cars.modelo }} </h2>
      <h3>{{ cars.empresa_fabricadora }} </h3>
      <img src="assets/cars.jpg" alt="Imagen de vehiculo">
      <p><strong>Año de Fabricación:</strong> {{ cars.ano_Fabricacion }}</p>
      <p><strong>Tipo de Vehciculo:</strong> {{ cars.tipo }}</p>
      <p><strong>Autonomía del Vehiculo:</strong> {{ cars.autonomia }}</p>
      <p><strong>Descuento:</strong> {{ cars.descuento }}</p>
      <p><strong>Precio Final:</strong> {{ cars.precionfinal }}</p>

    </div>
  </div>
</form>

<div class="paginator-container">
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[]" showFirstLastButtons></mat-paginator>
</div>
<app-footer></app-footer>
