<app-header></app-header>
<div class="home-container">
  <div class="left-content">
    <h1>Descubre el Futuro de la Movilidad</h1>
    <p>"Explora nuestra selección de autos eléctricos y encuentra el vehículo perfecto que combina eficiencia, sostenibilidad y tecnología de punta"</p>
    <button class="cta-button" routerLink="/laptops" routerLinkActive="active">DESCUBRE AHORA</button>
  </div>
  <div class="right-content">
    <img src="assets/home.jpg" alt="home" />
  </div>
</div>
<app-footer></app-footer>
