<app-header></app-header>
<div class="about-container">
  <h1>Reviews</h1>
  <p>What our users say</p>

  <div class="form-container">
    <form>
      <img src="assets/4.jpg" alt="Form 1">
      <div class="Name">
        <p>Juan Perez</p>
      </div>
      <div class="Carrera">
        <p>Date: 25/01/2022</p>
      </div>
      <div class="Description">
        <p>Commodo qui nulla ipsum ea</p>
        <p>cupidatat sit aliquip dolor.</p>
      </div>
      <div class="stars">
        ★★★★★
      </div>
    </form>

    <form>
      <img src="assets/5.jpg" alt="Form 2">
      <div class="Name">
        <p>Alberto Rojas</p>
      </div>
      <div class="Carrera">
        <p>Date: 13/08/2022</p>
      </div>
      <div class="Description">
        <p>Commodo qui nulla ipsum ea</p>
        <p>cupidatat sit aliquip dolor.</p>
      </div>
      <div class="stars">
        ★★★★★
      </div>
    </form>

    <form>
      <img src="assets/6.jpg" alt="Form 3">
      <div class="Name">
        <p>Sage Jett</p>
      </div>
      <div class="Carrera">
        <p>Date: 07/12/2022</p>
      </div>
      <div class="Description">
        <p>Commodo qui nulla ipsum ea</p>
        <p>cupidatat sit aliquip dolor.</p>
      </div>
      <div class="stars">
        ★★★★★
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
