<app-header></app-header>
<div class="about-container">
  <h1>Our Team</h1>
  <p>Get to know a little about our WATZFINDER members</p>

  <div class="form-container">
    <form>
      <img src="assets/perfilerick.jpg" alt="Form 1">
      <div class="Name">
        <p>Erick Ruiz Torres</p>
      </div>
      <div class="Carrera">
        <p>Ingenierio de Software</p>
      </div>
      <div class="Description">
        <p>Commodo qui nulla ipsum ea</p>
        <p>cupidatat sit aliquip dolor.</p>
      </div>
      <div class="social-icons">
        <i class="fab fa-facebook" style="color: #1877F2;"></i>
        <i class="fab fa-twitter" style="color: #1DA1F2;"></i>
        <i class="fab fa-linkedin" style="color: #255ABB;"></i>
      </div>
    </form>

    <form>
      <img src="assets/perfilerick.jpg" alt="Form 2">
      <div class="Name">
        <p>COLOCAR NOMBRE</p>
      </div>
      <div class="Carrera">
        <p>Ingenierio de Software</p>
      </div>
      <div class="Description">
        <p>Commodo qui nulla ipsum ea</p>
        <p>cupidatat sit aliquip dolor.</p>
      </div>
      <div class="social-icons">
        <i class="fab fa-facebook" style="color: #1877F2;"></i>
        <i class="fab fa-twitter" style="color: #1DA1F2;"></i>
        <i class="fab fa-linkedin" style="color: #255ABB;"></i>
      </div>
    </form>

    <form>
      <img src="assets/perfilerick.jpg"alt="Form 3">
      <div class="Name">
        <p>COLOCAR NOMBRE</p>
      </div>
      <div class="Carrera">
        <p>Ingenieria de Software</p>
      </div>
      <div class="Description">
        <p>Commodo qui nulla ipsum ea</p>
        <p>cupidatat sit aliquip dolor.</p>
      </div>
      <div class="social-icons">
        <i class="fab fa-facebook" style="color: #1877F2;"></i>
        <i class="fab fa-twitter" style="color: #1DA1F2;"></i>
        <i class="fab fa-linkedin" style="color: #255ABB;"></i>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
